[Desktop Entry]
Name=Pardus USB Formatter
Name[pt]=Formatador USB Pardus
Name[tr]=Pardus USB Biçimlendirici
GenericName=USB Formatter and ISO Writer
GenericName[pt]=Formatador USB e Gravador ISO
GenericName[tr]=USB Biçimlendirici ve ISO Yazdırıcı
Comment=Format USB devices and create bootable ISO drives.
Comment[pt]=Formata dispositivos USB facilmente.
Comment[tr]=USB disklerinizi biçimlendirin ve önyüklenebilir ISO sürücüleri oluşturun.
Exec=pardus-usb-formatter
Icon=pardus-usb-formatter
Terminal=false
Type=Application
Categories=System;X-Pardus-Apps;
StartupNotify=true
Keywords=format;disk;usb;iso;bootable;image
Keywords[tr]=biçimlendir;disk;usb;iso;önyüklenebilir;kalıp
MimeType=application/x-cd-image;
