[Desktop Entry]
Name=Pardus USB Formatter
Name[tr]=Pardus USB Biçimlendirici
GenericName=USB Formatter
GenericName[tr]=USB Biçimlendirici
Comment=Format USB devices easily.
Comment[tr]=USB disklerinizi kolayca biçimlendirin.
Exec=pardus-usb-formatter
Icon=pardus-usb-formatter
Terminal=false
Type=Application
Categories=System;
MimeType=application/x-cd-image;
StartupNotify=true
Keywords=format;disk;usb
